* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

form {
    display: grid;
    gap: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

div p {
    color: red;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#profile_pic {
    display: none;
}

label[for="profile_pic"] {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

label[for="profile_pic"]:hover {
    background-color: #0056b3;
}
